MATRIX_HOMESERVER_URL=https://matrix.org
MATRIX_USER_ID=@your-bot:matrix.org
MATRIX_ACCESS_TOKEN=syt_your_access_token_here

MAX_FILE_SIZE_MB=50
DOWNLOAD_DIR=/tmp/yt-dlp-bot
BOT_PREFIX=!
FETCH_COMMAND=fetch
